{% extends 'base.html.twig' %}

{% block title %}Recruiter Dashboard{% endblock %}

{% block body %}

<div class="container-fluid recruiter-dashboard">
    <div class="row">
        <!-- Sidebar -->
        <nav id="sidebar" class="col-md-2 d-md-block bg-dark text-light sidebar nav-pills mh-100 g-0">
            <header class="col-md-12 text-light py-2 w-100" style="background-color: #7e7d7d;">
                <h1 class="text-center">Recruiter Dashboard</h1>
            </header>
            <div class="position-sticky dashboard-items">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link {{ app.request.attributes.get('_route') starts with 'app_company' ? 'active' : '' }}"
                            href="{{ path('app_company_index') }}">
                            <i class="bx bx-building-house"></i> Company
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {{ app.request.attributes.get('_route') starts with 'app_announcement' ? 'active' : '' }}"
                            href="{{ path('app_announcement_index') }}">
                            <i class="bx bx-bullseye"></i> Announcement
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <!-- Main content area -->
        <main class="col-md-10 ms-sm-auto p-4 min-vh-100">
            <div class="tab-content h-100 p-4 rounded shadow">
                {% block content %}{% endblock %}
            </div>
        </main>
    </div>
</div>
{% endblock %}