{% extends 'base.html.twig' %}

{% block title %}Home Page
{% endblock %}

{% block body %}

<!-- Banner Section Start -->
<div class="banner-section banner-style-five">
	<div class="d-table">
		<div class="d-table-cell">
			<div class="container">
				<div class="banner-content text-center">
					<h1>Find The Best Job For Future</h1>
					<p>Discover exciting opportunities that align with your passion and skills. Join us on a journey to
						success!</p>
				</div>

				<form class="find-form">
					<div class="row">
						<div class="col-lg-4">
							<div class="form-group">
								<input type="text" class="form-control" id="exampleInputEmail1"
									placeholder="Job Title or Keyword">
								<i class="bx bx-search-alt"></i>
							</div>
						</div>

						<div class="col-lg-4">
							<div class="form-group">
								<input type="text" class="form-control" id="exampleInputEmail2" placeholder="Location">
								<i class="bx bx-location-plus"></i>
							</div>
						</div>

						<div class="col-lg-4">
							<button type="submit" class="find-btn">
								Find A Job
								<i class='bx bx-search'></i>
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<!-- Banner Section End -->

<!-- Category Section Start -->
<section class="categories-section pt-100 pb-70">
	<div class="container">
		<div class="section-title text-center">
			<h2>Choose Your Category</h2>
			<p>Discover diverse options tailored to your interests and aspirations. Find your niche and embark on a
				fulfilling journey.
			</p>
		</div>

		<div class="row">
			<div class="col-lg-3 col-md-4 col-sm-6">
				<a href="job-list.html">
					<div class="category-card">
						<i class='flaticon-accounting'></i>
						<h3>Accountancy</h3>
						<p>301 open position</p>
					</div>
				</a>
			</div>

			<div class="col-lg-3 col-md-4 col-sm-6">
				<a href="job-list.html">
					<div class="category-card">
						<i class='flaticon-graduation-cap'></i>
						<h3>Education</h3>
						<p>210 open position</p>
					</div>
				</a>
			</div>

			<div class="col-lg-3 col-md-4 col-sm-6">
				<a href="job-list.html">
					<div class="category-card">
						<i class='flaticon-wrench-and-screwdriver-in-cross'></i>
						<h3>Automotive Jobs</h3>
						<p>281 open position</p>
					</div>
				</a>
			</div>

			<div class="col-lg-3 col-md-4 col-sm-6">
				<a href="job-list.html">
					<div class="category-card">
						<i class='flaticon-consultation'></i>
						<h3>Business</h3>
						<p>122 open position</p>
					</div>
				</a>
			</div>

			<div class="col-lg-3 col-md-4 col-sm-6">
				<a href="job-list.html">
					<div class="category-card">
						<i class='flaticon-heart'></i>
						<h3>Health Care</h3>
						<p>335 open position</p>
					</div>
				</a>
			</div>

			<div class="col-lg-3  col-md-4 col-sm-6">
				<a href="job-list.html">
					<div class="category-card">
						<i class='flaticon-computer'></i>
						<h3>IT & Agency</h3>
						<p>401 open position</p>
					</div>
				</a>
			</div>

			<div class="col-lg-3  col-md-4 col-sm-6 offset-md-2 offset-lg-0">
				<a href="job-list.html">
					<div class="category-card">
						<i class='flaticon-worker'></i>
						<h3>Engineering</h3>
						<p>100 open position</p>
					</div>
				</a>
			</div>

			<div class="col-lg-3 col-md-4 col-sm-6">
				<a href="job-list.html">
					<div class="category-card">
						<i class='flaticon-auction'></i>
						<h3>Legal</h3>
						<p>201 open position</p>
					</div>
				</a>
			</div>
		</div>
	</div>
</section>
<!-- Category Section End -->

{% endblock %}