{% extends 'base.html.twig' %}

{% block title %}Home Page
{% endblock %}

{% block body %}

<!-- Banner Section Start -->
<div class="banner-section banner-style-five">
	<div class="d-table">
		<div class="d-table-cell">
			<div class="container">
				<div class="banner-content text-center">
					<h1>Find The Best Job For Future</h1>
				</div>

				<form action="{{ path('search_announcements') }}" method="POST" class="find-form">
					<div class="row">
						<div class="col-lg-4">
							<div class="form-group">
								<input type="text" class="form-control" id="title" name="title"
									placeholder="Job Title or Keyword">
								<i class="bx bx-search-alt"></i>
							</div>
						</div>

						<div class="col-lg-4">
							<div class="form-group">
								<input type="text" class="form-control" id="place" name="place" placeholder="Location">
								<i class="bx bx-location-plus"></i>
							</div>
						</div>

						<div class="col-lg-4">
							<button type="submit" class="find-btn">
								Find A Job
								<i class='bx bx-search'></i>
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<!-- Banner Section End -->

{% endblock %}